# Full Fluency: Go

**Legend:** ⚪ untested &nbsp; 🔴 0-32 &nbsp; 🟠 33-65 &nbsp; 🟡 66-89 &nbsp; 🟢 90-99 &nbsp; ⭐ 100 mastered
{{range .Levels}}
## {{cell .Name}}

| | Skill | Status |
|---|---|---|
{{range .Skills}}{{template "skillRow" .}}{{end}}{{range .Categories}}{{template "categoryRows" .}}{{end}}
{{end}}
## Bibliography
{{range .References}}
- {{link .Title .URL}}{{if .AuthorsText}}, {{cell .AuthorsText}}{{end}}
{{end}}
---

*This is a generated progress report*, check out how in [the Full Fluency project](https://github.com/mnohe/full-fluency-go).
{{define "skillRow"}}| {{.Emoji}} | {{cell .Label}} | {{description .}} |
{{end}}
{{define "categoryRows"}}| {{.Emoji}} | **{{cell .Label}}** | {{categoryStatus .}} |
{{range .Skills}}| {{.Emoji}} | &nbsp;&nbsp;&#8618; {{cell .Label}} | {{description .}} |
{{end}}{{end}}
